<li>
    <a href="https://scholar.google.com/citations?user=d_vzt5AAAAAJ&hl=en" target="_blank" rel="nofollow noopener noreferrer">
        <i class="ai ai-google-scholar-square ai-fw"></i>
        <span class="label">Google Scholar</span>
    </a>
</li>

<li>
    <a href="https://www.linkedin.com/in/ravdeep003/" target="_blank" rel="nofollow noopener noreferrer">
        <i class="fab fa-fw fa-linkedin" aria-hidden="true"></i>
        <span class="label">LinkedIn</span>
    </a>
</li>

<li>
    <a href="https://github.com/ravdeep003" target="_blank" rel="nofollow noopener noreferrer">
        <i class="fab fa-fw fa-github" aria-hidden="true"></i>
        <span class="label">GitHub</span>
    </a>
</li>

<li>
    <a href="https://twitter.com/ravdeep003" target="_blank" rel="nofollow noopener noreferrer">
        <i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i>
        <span class="label">Twitter</span>
    </a>
</li>

<li>
    <a href="https://instagram.com/that.beard.guy" target="_blank" rel="nofollow noopener noreferrer">
        <i class="fab fa-fw fa-instagram" aria-hidden="true"></i>
        <span class="label">Instagram</span>
    </a>
</li>

